<div class="wrapper">
  <div class="title mb-15">Category</div>

  <div class="body">
    <a href="">
      <img src="assets/category/vegetables.png" alt="" />
      <div class="tile">Vegetables</div>
    </a>

    <a href="">
      <img src="assets/category/pork.png" alt="" />
      <div class="tile">Pork</div>
    </a>
    <a href="">
      <img src="assets/category/beef.png" alt="" />
      <div class="tile">Beef</div>
    </a>
    <a href="">
      <img src="assets/category/chicken.png" alt="" />
      <div class="tile">Chicken</div>
    </a>
    <a href="">
      <img src="assets/category/fish.png" alt="" />
      <div class="tile">Fish</div>
    </a>
  </div>
</div>
