<div class="wrapper row">
  <div class="side-bar">
    <app-side-bar [tiles]="foodTiles" [title]="foodTitle"></app-side-bar>
  </div>
  <div class="product flex wrap justify-start gap-1">
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
  </div>
</div>